.brand-primary{
	color:#534cf8;
}

h1{ font-size: 30px;}
h2{ font-size: 24px;}
h3{ font-size: 18px;}
h4{ font-size: 16px;}
h5{ font-size: 13px;}
h6{ font-size: 12px;}


body{
	font-family: sans-serif;
}

::-moz-selection { 
	color:#ffffff; 
	background-color: #534cf8;
}
::selection { 
	color:#ffffff; 
	background-color: #534cf8;
}


body a:hover{
	color:#534cf8;
	text-decoration: none;
}


p{
	font-size: 16px ;
}

.logo a{
	font-size:1.50em;
	color: black;;
}

section, header, footer{
	padding: 50px 0;
}

img.img-work{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-work{
	padding-bottom: 60px;
}

img.img-work:hover{
	box-shadow: 8px 16px 24px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.btn-brand{
	background-color: #534cf8;
	color: #ffffff;
}

.btn-brand:hover{
	background-color:#1108da;
	color: #fff;
}

.skills{
	border: 1px solid #534cf8;
	border-radius: 25px;
	padding: 10px 20px;
	margin: 20px;
}

footer{
	background-color: #F6F5FF;
	color: #000000;
}


/* #534cf8; */

